h1 {
    padding-left: 25px;
}

.btn {
    margin-left: 25px;
}

a:hover {
 text-decoration: none;
}

th {
    text-transform: capitalize;
}

.main {
    visibility: visible;
}
.edit {
    visibility: visible;
}